@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    width: 100%;
    background: #ddd;
    font-size: 16px;
    font-family: 'Arima', cursive;
    transition: all .4s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background: #f1f1f1;
    opacity: .94;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    list-style: none;
}

.navbar-list li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: all .3s;
}

.navbar-list li:hover::after {
    width: 100%;
}

.sign {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.sign li:hover {
    transform: scale(1.1);
    transition: all .3s;
}

a {
    text-decoration: none;
    color: #000;
}

.icon-menu-hamburguesa {
    display: none;
}

.cont-menu-hamburguesa {
    display: none;
}

.btn {
    display: none;
}

.portada {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 12px #999;
}

.portada .img {
    width: 85%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.portada .img img {
    width: 100%;
    height: 100%;
}

.tittle {
    position: absolute;
    margin-right: 5%;
    color: #fff;
    text-shadow: 0 0 12px #000, 0 0 12px #000;
    z-index: 10;
}

.tittle h1 {
    font-size: 38px;
}

.tittle p {
    font-size: 22px;
}

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.nosotros h2 {
    font-size: 25px;
}

.nosotros p {
    width: 75%;
    text-align: justify;
    font-size: 18px;
}

.productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
    gap: 20px;
}

.container h3 {
    font-size: 28px;
}

.container-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    background: #fdfdfd;
    padding: 20px;
    border-radius: 6px;
}

.card:hover {
    box-shadow: 0 0 10px #999;
    transition: all .2s;
}

.card .img {
    width: 55%;
}

.card .img img {
    width: 100%;
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #444;
    width: 80%;
    gap: 40px;
    text-transform: uppercase;
} 

.card-info h5 {
    font-size: 14px;
}

.card-info p {
    font-size: 18px;
}

.precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: none;
    width: 100%;
}

.precio p {
    font-size: 14px;
}

.card-info-color {
    font-weight: 700;
    color: #000;
}

.card button {
    width: 70%;
    height: 40px;
    margin: 40px 0;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    background: #555;
    color: #fff;
}

.card button:hover {
    transform: scale(1.1);
    transition: all .3s;
}

.container-beneficios {
    background: #f1f1f1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    width: 100%;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.card-beneficios {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
    min-width: 315px;
    height: 196px;
    gap: 10px;
}

.icon {
    background: #555;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    font-size: 20px;
    color: #fff;
}

.beneficios h4 {
    text-transform: uppercase;
    font-size: 15px;
}

.beneficios p {
    font-size: 15px;
    width: 95%;
    text-align: center;
}

.container-contacto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.contacto-info h2 {
    font-size: 24px;
}

.contacto-info p {
    font-size: 17px;
}

.contacto-info i {
    margin-right: 10px;
    font-size: 20px;
}

.redes i {
    font-size: 24px;
}

.redes i:hover {
    transform: scale(1.2);
    transition: all .3s;
}

.mapa {
    width: 50%;
}

@media (max-width: 900px) {
    body.dark {
        background: #222;
    }

    .navbar {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 500;
        padding: 0 20px;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    /* Navbar Dark */
    body.dark .navbar {
        background: #444;
    }
    body.dark .navbar i {
        color: #fff;
    }

    /* Ocultar */
    .navbar-list, .sign {
        display: none;
    }

    .card:nth-child(even) {
        display: none;
    }

    /* Icono del menu */
    .icon-menu-hamburguesa {
        display: flex;
        position: relative;
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }
    
    .icon-menu-hamburguesa i {
        font-size: 100%;
        cursor: pointer;
    }

    /* Contenido del menu */
    .cont-menu-hamburguesa {
        display: flex;
        background: rgba(220, 220, 220, 0.8);
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        top: 100px;
        left: 0;
        width: 200px;
        height: 100vh;
        font-size: 18px;
        z-index: 100;
        transition: all .5s ease;
        padding: 20px;
    }

    body.dark .cont-menu-hamburguesa {
        background: rgba(120, 120, 120, 0.9);
    }

    .active {
        transform: translate(-600px);
    }

    .opacity {
        background-color: rgba(100, 100, 100, 0.5);
        transition: all .5s ease;
    }

    .menu-list {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        gap: 25px;
    }

    .menu-list li {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    body.dark .menu-list li {
        color: #fff;
    }

    .menu-list li:hover {
        background: #999;
        color: #fff;
    }

    body.dark .menu-list li:hover {
        background: #ddd;
        color: #000;
    }

    .sign-menu-list {
        display: flex;
        list-style: none;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
        gap: 20px;
    }

    body.dark .sign-menu-list {
        color: #fff;
    }

    .sign-menu-list li:hover {
        transform: scale(1.1);
    }

    /* DarkMode */
     .btn {
        display: flex;
        width: 15%;
        justify-content: space-between;
        align-items: center;
    }

    .switch {
        background: #343d5b;
        border-radius: 50px;
        border: none;
        outline: none;
        position: relative;
        cursor: pointer;
        display: flex;
        margin-left: 10px;
    }

    .switch::after {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 50px;
        transition: all .3s ease;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    .press {
        background: #FF8000;
        color: #000;
    }

    .press::after {
        right: 0;
        left: unset;
    }

    .switch span {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: none;
        color: #fff;
    }

    /* Portada */
    .portada {
        margin-top: 0;
        box-shadow: 0 2px 12px #333;
    }
    
    .portada .img {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .portada .img img {
        width: 100%;
        height: 100%;
    }
    
    .tittle {
        margin-right: 1%;
        color: #fff;
        text-shadow: 0 0 12px #000, 0 0 12px #000;
        z-index: 100;
    }
    
    .tittle h1 {
        font-size: 25px;
    }
    
    .tittle p {
        font-size: 18px;
        z-index: 1;
    }

    /* Nosotros */    
    .nosotros h2 {
        font-size: 22px;
    }
    
    .nosotros p {
        width: 80%;
        text-align: justify;
        font-size: 16px;
    }

    body.dark .nosotros {
        color: #fff;
    }

    /* Productos */
    body.dark .container h3 {
        color: #fff;
    }

    body.dark .card {
        width: 310px;
        background: #444;
    }

    .card .img {
        width: 70%;
    }

    .container-card {
        gap: 20px;
    }

    body.dark .card-info {
        width: 80%;
        color: #eee;
    }

    body.dark .card-info-color {
        color: #fff;
    }

    body.dark .card button {
        background: #666;
    }

    /* Beneficios */
    .container-beneficios {
        margin-top: 20px;
        padding: 40px 0;
    }
    
    body.dark .container-beneficios {
        background: #444;
    }

    .beneficios {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    
    .card-beneficios {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 20%;
        min-width: 300px;
        gap: 10px;
        height: 100%;
    }
    
    body.dark .icon {
        background: #666;
    }

    body.dark .beneficios h4 {
        color: #fff;
    }
    
    body.dark .beneficios p {
        color: #fff;
    }

    /* Contacto */
    .container-contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 60px 0;
        gap: 40px;
    }
    
    .contacto-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        gap: 20px;
    }
    
    body.dark .contacto-info h2 {
        font-size: 26px;
        color: #fff;
    }
    
    body.dark .contacto-info p {
        font-size: 18px;
        text-align: justify;
        color: #fff;
    }
    
    body.dark .redes i {
        font-size: 24px;
        color: #fff;
    }
    
    .redes i:hover {
        transform: scale(1.2);
        transition: all .3s;
    }
    
    .mapa {
        width: 75%;
    }
}